.Search-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-left: 40px;
    background-color: rgb(255 249 120);
}

.Search-form {
    display: grid;
    justify-content: center;
    align-items: center;
    color: #3170ed;
}

.Search-container input {
    margin-left: 2px;
}